<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

请输入账号：<input type="text" name="username" id="username"><font id="tips"></font>
<br>
<input type="button" value="找回密码" onclick="forget()">

<script type="text/javascript" src="webjars/jquery/1.8.3/jquery.js" th:src="@{webjars/jquery/1.8.3/jquery.js}"></script>
<script>

    function forget() {
        //获取账号
        var username = $("#username").val();

        $.post("userController/forgetPassword",{"username":username},function(result){
            debugger;
            if(result == "false") {
                $("#tips").attr("color","red");
                $("#tips").html("该账号不存在！");
            } else if (result == "true") {
                $("#tips").attr("color","green");
                $("#tips").html("邮件发送成功，请去邮箱查看！");
            }
        });
    }

</script>

</body>
</html>